*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

#root {
  background-color: #1c1c1c;
}

.animated-logo {
  background-image: url("../images/gpc_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.title__textbox {
  text-align: center;
}

.heading-primary--main {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  color: #9fb8bd;
  font-size: 3.25rem;
  font-weight: 700;
  animation-delay: 1s;
}
.heading-primary--sub {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  color: #9fb8bd;
  font-size: 1.25rem;
  font-weight: 300;
  animation-delay: 2s;
}

.container {
  width: 1024px;
  height: 100%;
  margin: 4rem auto 0;
  background-color: #1c1c1c;
}

.tabs {
  display: flex;
  position: relative;
  top: 0;
}
.tabs button {
  width: 256px;
  border: none;
  padding: 0.5rem;
  color: #f3f3f3;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #1c1c1c;
  transition: all 0.3s;
}
.tabs button:hover {
  transform: scaleY(1.1) scaleX(1.05) translateY(-2px);
  background-color: #333333;
}
.tabs .active-tab {
  background-color: #1c1c1c;
  color: #5aacbc;
}
.tabs .active-tab:hover {
  background-color: #1c1c1c;
}

.slider {
  position: relative;
  left: 0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  border: 1px solid #5aacbc;
  width: 240px;
  margin-left: 8px;
  border-radius: 1px;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  background-color: white;
  height: 50rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  background-color: red;
  transform: rotateY(180deg);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(360deg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: white;
  position: absolute;
  top: 22rem;
  right: 1rem;
}
.card__picture {
  background-size: cover;
  height: 27rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: url(../images/32em.jpg);
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 550px) {
  .heading-primary--main {
    font-size: 2rem;
  }
  .heading-primary--sub {
    font-size: 1rem;
    margin: 0 3rem;
  }

  .container {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

/*# sourceMappingURL=index.css.map */
