$color-primary-light: #9fb8bd;
$color-background: #1c1c1c;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

#root {
  background-color: $color-background;
}

.animated-logo {
  background-image: url("../images/gpc_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.title__textbox {
  text-align: center;
}

.heading-primary {
  &--main {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    color: $color-primary-light;
    font-size: 3.25rem;
    font-weight: 700;
    animation-delay: 1s;
  }
  &--sub {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    color: $color-primary-light;
    font-size: 1.25rem;
    font-weight: 300;
    animation-delay: 2s;
  }
}

.container {
  width: 1024px;
  height: 100%;
  margin: 4rem auto 0;
  background-color: $color-background;
}

.tabs {
  display: flex;
  position: relative;
  top: 0;
  & button {
    width: 256px;
    // background: transparent;
    border: none;
    padding: 0.5rem;
    color: #f3f3f3;
    font-weight: 400;
    font-size: 1.25rem;
    background-color: $color-background;
    transition: all 0.3s;
  }
  & button:hover {
    transform: scaleY(1.1) scaleX(1.05) translateY(-2px);
    background-color: #333333;
  }

  & .active-tab {
    background-color: $color-background;
    color: #5aacbc;

    &:hover {
      background-color: $color-background;
    }
  }
}

.slider {
  position: relative;
  left: 0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  border: 1px solid #5aacbc;
  width: 240px;
  margin-left: 8px;
  border-radius: 1px;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    background-color: white;
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front {
      background-color: white;
    }

    &--back {
      background-color: red;
      transform: rotateY(180deg);
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(360deg);
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 22rem;
    right: 1rem;
  }

  &__picture {
    background-size: cover;
    height: 27rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: url(../images/32em.jpg);
    }
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(-00px);
  }
}

@media screen and (max-width: 550px) {
  .heading-primary {
    &--main {
      font-size: 2rem;
    }

    &--sub {
      font-size: 1rem;
      margin: 0 3rem;
    }
  }

  .container {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}
